
<h1> Dependency Injection - LifeTime Services </h1>
<table class="table table-bordered">
    <tr>
        <th>Service Type</th>
        <th>First Instance Task ID</th>
        <th>Second Instance Task ID</th>
    </tr>

    <tr>
        <td>Transient</td>
        <h2><td>@ViewBag.transientService1</td></h2>
        <h2><td>@ViewBag.transientService2</td></h2>
    </tr>

    <tr>
        <td>Scoped</td>
        <h2><td>@ViewBag.scopedService1</td></h2>
        <h2><td>@ViewBag.scopedService2</td></h2>
    </tr>


    <tr>
        <td>Singleton</td>
        <h2><td>@ViewBag.singletonService1</td></h2>
        <h2><td>@ViewBag.singletonService2</td></h2>
    </tr>

</table>